{% extends 'base.html' %}

{% block content %}
    <div>
        <h3 style="text-align: center">Questions</h3>
    </div>

    <div class="container">
        <div class="container col-lg-6">
            {% for question in questions %}
                <a href="{% url 'questions' question.url %}" style="text-decoration: none">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ question.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ question.desc }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <!-- Bonus Questions -->

        <div class="container col-lg-6">
            {% for question in bonus %}
                <a href="{% url 'bonus-questions' question.url %}" style="text-decoration: none">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ question.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ question.desc }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}